.chat-vh {
    height: 90vh !important;

}

.borderBottom{
    border-bottom: 1px solid 	rgb(70, 187, 187) !important;
}
.borderTop{
    border-top: 1px solid 	rgb(70, 187, 187) !important; ;
}
.chatbody-height{
    height: calc(100% - 20vh) !important;
}